:root {
  --color-background: #171a21;
  --color-primary: #66c0f4;
  --color-secondary: #1b2838;
  --color-accent: #2a475e;
  --color-light: #ffffff;
  --color-text-static: #c7d5e0;
  --color-text-dynamic: #66c0f4;
  --color-final-price: #beee11;
  --background-final-price: #4c6b22;
}

.sui-layout-body {
  background-color: var(--color-background);
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sui-layout-body::after {
  content: none;
  height: 0;
  background: linear-gradient(to bottom, #fcfcfc 0%, #f0f0f0 100%);
}

.sui-paging-info {
  color: var(--color-primary);
}

.sui-results-per-page {
  color: var(--color-primary)
}


.sui-multi-checkbox-facet {
  color: var(--color-primary);
}

body {
  margin: 0;
  display: block;
}

.sui-result {
  background-color: var(--color-background);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sui-result__title {
  color: var(--color-primary);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
