.custom-result {
  display: flex;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  margin: 15px 0;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: var(--color-secondary);
  text-decoration: none;
  color: var(--color-light);
}

.custom-result:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.result-link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.result-image-container {
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
}

.result-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.result-details {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-primary);
}

.result-release-date {
  font-size: 14px;
  color: var(--color-text-static);
  margin-bottom: 15px;
}

.result-info-blocks {
  display: flex;
  justify-content: space-between;
}

.result-reviews,
.result-prices {
  flex: 1;
  margin-right: 10px;
}

.result-reviews p,
.result-prices p {
  margin: 5px 0;
  font-size: 14px;
}

.text-label {
  font-weight: bold;
  color: var(--color-text-static);
}

.text-value {
  color: var(--color-text-dynamic);
}

.result-discount {
  font-weight: bold;
}

.result-discount>.text-value {
  color: var(--color-final-price);
  background-color: var(--background-final-price);
  padding: 2px;
  font-size: 16px;
}

.result-final-price {
  color: var(--color-final-price);
  font-size: 16px;
  font-weight: bold;
}

.result-final-price>.text-label {
  font-size: 26px;
  font-weight: bold;
}

.result-final-price>.text-value {
  color: var(--color-final-price);
  font-size: 26px;
  font-weight: bold;
}
